.icon {
    width: 20px;
    height: 20px;
}

.categoryList {
    display: flex;
}

.categoryItem {
    list-style: none;
}

.removeButton {
    border: none;
    background: none;
    padding-left: 10px;
    vertical-align: middle;
}

.categoryIcon {
    @extend .icon;
    margin-right: 10px;
}
