.categoriesContainer {
    padding: 10px;
    width: 50vw;
    min-width: max-content;
    font-size: smaller;
}

.icon {
    width: 20px;
    height: 20px;
}

.categoryList {
    display: flex;
    cursor: pointer;
    padding: 0;
    padding-left: 10px;
}

.categoryItem {
    list-style: none;
}

.removeButton {
    border: none;
    background: none;
    vertical-align: middle;
    padding: 0;
    margin-left: 10px;
}

.categoryIcon {
    @extend .icon;
    margin-right: 10px;
}

.highlighted:first-of-type {
    background: rgb(225, 223, 240);
}
