.container {
    display: flex;
}

.icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.addIcon {
    @extend .icon;
    vertical-align: middle;
}

.addFileContainer {
    margin-right: 15px;
}
