@import "styles.scss";

.categoryList {
    display: flex;
    cursor: pointer;
    padding: 0;
    padding-left: 10px;
}

.categoryItem {
    list-style: none;
    padding-left: 10px;

    &::before {
        @extend .icon;
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
    }
}

.categoryFolderItem {
    @extend .categoryItem;

    &::before {
        content: url("../../../../assets/icons/folder.svg");
    }
}

.categoryFileItem {
    @extend .categoryItem;

    &::before {
        content: url("../../../../assets/icons/file.svg");
    }
}

.removeButton {
    @extend .btn;
    vertical-align: middle;
    margin-left: 10px;
}

.categoryIcon {
    @extend .icon;
}

.highlighted:first-of-type {
    background: rgb(225, 223, 240);
}
